/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;

}

h1 {
font-size: 1.5em;
  margin-bottom: .5em;
  color: #67cddc;
}

h2 {
    font-size: 1.5em;
      margin-bottom: .5em;
      color: white;
}

h3 {
    color: white;
    font-size: 90%;
     line-height: 120%;
     font-style: normal;
}

h4 {
  font-size: .875em;
  color: white;
  text-decoration: overline;
}
h5 {
  font-size: .75em;
  color: white;
}
h6 {
  font-size: .85em;
  color: white;
}
p {
    font-size: .6em;
      margin: .5em;
    text-decoration: none;
}

body {
  background-color: #3b3b3d;
  font-family: Junction;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
}

a {
  color: #81d3b5;
   margin-bottom: .5em;
}

a:hover {
  color: #81d3b5;
    text-decoration: overline;
       margin-bottom: .5em;
  opacity: .75;
}

a:visited {
  color: #81d3b5;
     margin-bottom: .5em;
  opacity: .85;
}

table {
  font: 100%;
   line-height: 110%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 1.5em;
  color: black;
}

  ul.posts li {
    line-height: 1em;
  margin-bottom: 1.5em;
    color: black;
  }

  ul.posts span {
    color: white;
    font-family: Junction;
    font-size: 90%;
     line-height: 120%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {

  color: #81d3b5;
  font-family: Junction;
  text-align: justify;
  width: 60%;
  margin: 4em auto 2em auto;
  line-height: 110%;
}

.title {
  color: #81d3b5;
  margin-bottom: .3em;
font-size: 3em;
   margin-top: 2em;
}

  .site .title a {
    color: #81d3b5;
    text-decoration: none;
  }

  .site .title a:hover {
    color: #d0dd2b;
  }

  .site .title a.extra {
    color: #81d3b5;
    text-decoration: none;
    margin-left: 0em;
  }

  .site .title a.extra:hover {
    color: #81d3b5;
  }

  .site .meta {
    color: white;
  }

  .site .footer {
    text-align: middle;
    font-size: 1.5em;
    color: white;
    border-top: 3px solid white;
    margin-top: 1em;
    overflow: hidden;
    border-bottom: 3px solid white;
   line-height: 70%;

  }

    .site .footer .contact {
      float: left;
      margin-left: .2em;
    }
    

      .site .footer .contact a {
        color: #81d3b5;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid white;
    background-color: black;
    padding: 0 2.4em;
  }

  #post ul,
  #post ol {
    margin-left: 3em;
  }

  #post code {
    border: 1px solid white;
    background-color: #81d3b5;
    font-size: 70%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #81d3b5;
    color: white;
  }

  #post pre.terminal code {
    background-color: #81d3b5;
  }

#related {
  margin-top: 4em;
}

  #related h2 {
    margin-bottom: 1em;
  }
